@charset "UTF-8";
/* CSS Document */



body {
  /* background: #1e1e1e; */
  background: #fff;
  font-family: sans-serif;
  font-size: 12px;
  color: #000;
  line-height: 90%;
}



a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: red;
}

.menu-small {
  padding: 20px;
}

.menu-large {
  display: none;
}

.main {
  position: relative;
}


@media screen and (min-width: 992px) {
  .menu-small {
    display: none;
  }
  .menu-large {
    display: flex;
    position: sticky;
    top: 200px;
    z-index: 999;
  }
  .main {
    position: relative;
    top: -50px;
  }
}
