@charset "UTF-8";
/* CSS Document */



body {
  /* background: #1e1e1e; */
  background: #fff;
  font-family: sans-serif;
  font-size: 12px;
  color: #000;
  line-height: 90%;
}

.row1 {
  position: sticky;
  top: 200px;
}

.row2 {
  position: relative;
  top: -50px;
}


#block-menu {
  top: 400px;
}

#block-main {
  /* position: absolute; */
  top: 0px;
  z-index: 100;
}
